<?php

define('LIVE', strpos($_SERVER['SERVER_NAME'], 'darts.bluebones.net') === 0);
define('ROOT', LIVE ? '/srv/darts/src' : '/Users/bakert/darts/src');
define('WWW_DIR', LIVE ? '' : '/darts');
define('DB_USR', 'darts');
define('DB_PWD', 'PASSWORDGOESHERE');
define('DB_HOST', '127.0.0.1');
define('DB_DB', 'darts');

